/vendor/
/downloads/
/runtime/
/target/
/bin/
/dist/
/config.local.json
/config.local.json.previous
/config.local.json.*.tmp
/TongjiVPN.exe
*.log
*.zip

/config.hosts.local.json
/config.hosts.local.json.*
/connection.local.json
/connection.local.json.*
/resources/
